
@{
    ViewBag.Title = "Index";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/Controller/Spa/index.js")"></script>
}
<h2>SPA</h2>
<button id="animals">Animals</button>
<button id="houses">Houses</button>
<br /><br />
<div class="list-container">

</div>
